# Milvus (Vector DB) Configuration
MILVUS_PORT=19530
MILVUS_METRICS_PORT=19121
MILVUS_ROOT_PASSWORD=
MILVUS_USERNAME=
MILVUS_PASSWORD=

# MariaDB (Relational DB) Configuration
MARIADB_PORT=3306
MARIADB_ROOT_PASSWORD=
MARIADB_DATABASE=
MARIADB_USER=
MARIADB_PASSWORD=

# MongoDB (NoSQL DB) Configuration
MONGODB_PORT=27017
MONGODB_ROOT_USERNAME=
MONGODB_ROOT_PASSWORD=

# FastAPI Configuration
FASTAPI_PORT=8001
FASTAPI_SSH_PORT=2222

# Node.js Configuration
NODEJS_PORT=3000
NODEJS_SSH_PORT=2223

# SSH Configuration
SSH_PUBLIC_KEY_1=""
SSH_PUBLIC_KEY_2=""
